@use "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$primaryFont;
}

body {
  background-color: rgb(252, 252, 252);
}

img {
  max-width: 100%;
}

.loader {
  display: flex;
  place-content: center;
}
