.admin {
  padding: 20px;

  &__heading {
    padding-bottom: 20px;
    text-align: center;
  }

  &__links {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    place-items: center;
  }

  &__link {
    padding: 10px 0;
    color: blue;
    text-decoration: none;
  }
}

.enquiry {
  padding-bottom: 20px;
  &__field {
    padding: 20px;
  }

  &__heading {
    font-size: 20px;
    padding: 0 5px;
  }

  &__output {
    padding: 5px 0;
  }

  &__total {
    padding-top: 5px;
  }
}

.message {
  &__field {
    padding: 20px;
  }

  &__heading {
    font-size: 20px;
    padding: 0 5px;
  }

  &__output {
    padding: 5px 0;
  }
}

@media (min-width: 768px) {
  .admin {
    &__container {
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
