.admin {
  padding: 20px;

  &__heading {
    padding-bottom: 20px;
    text-align: center;
  }

  &__links {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    place-items: center;
  }

  &__link {
    padding: 5px 0;
  }
}

.enquiry {
  padding-bottom: 20px;
  &__field {
    padding: 20px;
  }

  &__heading {
    font-size: 20px;
    padding: 0 5px;
  }

  &__output {
    padding: 5px 0;
  }

  &__total {
    padding-top: 5px;
  }
}

.message {
  &__field {
    padding: 20px;
  }

  &__heading {
    font-size: 20px;
    padding: 0 5px;
  }

  &__output {
    padding: 5px 0;
  }
}
