.stays {
  padding: 20px;
  min-height: 80vh;

  &__header {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .stays {
    padding: 40px;
    min-height: 86vh;
    &__container {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}
