.card {
  margin: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid;

  &__link {
    text-decoration: none;
    color: black;
  }

  &__image {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
  }

  &__content {
    padding: 20px;
  }

  &__location {
    color: rgb(75, 75, 75);
    font-size: 13px;
  }
  &__price {
    margin: 5px 0;
    font-weight: bold;
    font-size: 18px;
  }

  &__rating {
    background-color: blue;
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
  }
}
