@use "../variables";
.nav {
  background-color: variables.$primaryColor;
  padding: 20px;
  display: flex;

  &__logo-txt {
    font-size: 20px;
  }

  &__nav-container {
    background-color: #ef8a0d;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    display: none;
  }

  &__navigation {
    margin-bottom: 100px;
  }

  &__list {
    list-style: none;
    padding: 15px 0;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }
}
